*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/
.DS_Store
/build
/captures

app/build/generated/assets/
app/build/generated/source/apt/
app/build/intermediates/incremental/instantRunDependenciesApkBuilder/
app/build/intermediates/reload-dex/
app/build/intermediates/res/merged/debug/layout/toolbar.xml
app/build/intermediates/shaders/
app/build/intermediates/transforms/dex/debug/folders/1000/2/clog-1.0.2-sources_a65d799e312afd812b6ea582e930f6c26e551bfc/
app/build/intermediates/transforms/instantRun/debug/folders/4000/
app/build/intermediates/transforms/instantRunDependenciesApk/
app/build/intermediates/transforms/instantRunSlicesApk/
app/build/tmp/compileDebugJavaWithJavac/
app/src/main/res/layout/toolbar.xml
app/src/main/res/values-v19/dimens.xml
appcompat_v7_hmyg_model/build/generated/source/apt/
appcompat_v7_hmyg_model/build/intermediates/bundles/default/jni/
appcompat_v7_hmyg_model/build/intermediates/incremental/processReleaseResources/
appcompat_v7_hmyg_model/build/intermediates/jniLibs/
appcompat_v7_hmyg_model/build/intermediates/transforms/
appcompat_v7_hmyg_model/build/tmp/
appcompat_v7_hmyg_model/lib/
